* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	line-height: 1.5;
	font-family: Sans-Serif;
	color: #121212;
}

h1 {
	font-size: 2rem;
	font-family: Serif;
}

h2 {
	font-size: 1.3rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.sidebar {
	border-right: 1px solid #EEE;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 3rem 2rem;
	max-width: 18%;
}

h1 a, h2 a {
	color: #121212;
	text-decoration: none;
	font-weight: bold;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

.sidebar h2 {
	font-weight: 300;
	font-size: 1rem;
	margin: 40px 0 25px;
}

.sidebar ul {
	padding: 0;
	font-size: 1rem;
	margin-bottom: 25px;
}

.sidebar li {
	font-weight: bold;
	list-style: none;
}

.sidebar li a {
	font-weight: 300;
}

.sidebar p {
	margin-top: 25px;
	font-size: 0.7rem;
}

.content {
	max-width: 40%;
	margin-left: 18%;
	padding: 3rem 2rem;
}

.content.not-found {
	margin-left: 0;
}

.content .archive {
	margin-bottom: 2rem;
}

.content .archive:last-child {
	margin-bottom: 0;
}

.archive h3 {
    margin-bottom: 0.6rem;
}

.date {
	font-size: 0.8rem;
	color: #808080;
}

img {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}

p {
	margin: 0 0 10px;
	font-size: 1rem;
}

p:last-child {
	margin: 0;
}

.caption {
	text-align: center;
	font-size: 0.8rem;
	color: #808080;
}

.quote {
	border-left: 3px solid #000;
	font-style: italic;
	padding-left: 10px;
}

ol, ul {
	width: 100%;
	margin-bottom: 10px;
}

ol {
	padding-left: 30px;
}

ul {
	padding-left: 10px;
}

li {
	margin-bottom: 5px;
	width: 100%;
}

li:last-child {
	margin-bottom: 0;
}

pre {
	background: #EEF;
	white-space: pre-wrap;
	padding: 10px;
	margin: 0 0 10px;
	overflow-x: scroll;
	line-height: 1.3;
}

pre code .red {
	color: #D14;
}

pre code .blue {
	color: #0000FF;
}

pre code .orange {
	color: #FF5F00;
}

pre code .purple {
	color: #AF0087;
}

pre code .grey {
	color: #767676;
}

code {
	background: #EEF;
	padding: 0 5px;
	font-family: Monospace;
	font-size: 0.8rem;
}

pre code {
	padding: 0;
	border: 0;
}

@media screen and (max-width: 500px) {
	.sidebar {
		border-right: none;
		height: auto;
		position: relative;
		top: auto;
		left: auto;
		padding: 1rem;
		max-width: 100%;
	}

	.sidebar h2 {
		margin: 25px 0;
	}

	.content {
		max-width: 100%;
		margin-left: 0;
		padding: 1rem;
	}
}
