* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: serif;
  font-size: 14pt;
  background: #eee;
}

#wrapper {
  padding: 30px;
  max-width: 700px;
}

@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 13pt;
  }

  #wrapper {
    padding: 20px;
  }
}

img {
  width: 120px;
  height: 120px;
  display: block;
}

h1 {
  font-size: 18pt;
  font-weight: 600;
  margin: 15px 0;
  font-family: sans-serif;
}

p {
  margin: 0 0 10px;
  line-height: 1.4em;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 3px;
}
