* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  font-family: serif;
  font-size: 16px;
  background: #EEE;
}

body {
  padding: 20px;
  width: 100%;
  max-width: 700px;
}

@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 13px;
  }

  body {
    padding: 10px;
  }
  
  code {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin-bottom: 15px;
}

header {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #CCC;
}

header h1 {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  top: 2px;
  position: relative;
}

header a {
  margin: 0 0 0 5px;
}

#wrapper {
  width: 100%;
}

#wrapper.home img {
  height: 150px;
  display: block;
  margin: 0 0 10px;
}

#wrapper.archive p {
  line-height: 1.4em;
}

#wrapper.archive h3 {
  margin-top: 20px;
}

#wrapper.archive h5 {
  font-family: serif;
  font-style: italic;
  color: #808080;
}

#wrapper.archive img {
  width: 100%;
  display: inline-block;
}

#wrapper.archive li {
  margin-left: 30px;
}

p {
  margin: 0 0 10px;
  line-height: 1.4em;
}

p.caption {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #808080;
}

p.quote {
  border-left: 3px solid #000;
  font-style: italic;
  padding-left: 10px;
}

ul, ol {
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 0;
}

code {
  background: #DDD;
  padding: 0 5px;
  font-size: 14px;
}

pre {
  background: #DDD;
  white-space: pre-wrap;
  padding: 10px;
  margin: 0 0 10px;
}

pre code {
  font-size: 12px;
  padding: 0;
}

iframe {
  width: 100%;
  height: 315px;
}
