* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $fontfamily;
  color: $darkgrey;
}

div.intro {
	background: $highlight;
	position: relative;
	padding: 100px;

	div.inner {
	  position:relative;
	  text-align:center;
	  padding:$header 0;

	  @include bp(mobile) {
	    padding:100px 0;
	  }

	  h2 {
	    font-size:2em;
	    padding:0 20px;
	    color: #FFF;

	    @include bp(mobile) {
	      font-size: 3em;
	    }
	  }
	}
}

div.social {
	padding: 25px 0;
	border-bottom: 1px solid #EFEFEF;
	text-align: center;

	ul {
		display: inline-block;
		@extend .cf;

		li {
			float: left;
			border: 1px solid #EFEFEF;
			border-radius: $borderradius;
			margin-right: 15px;
			width: 52px;
			height: 36px;

			&:last-child {
				margin-right: 0;
			}

			a {
				padding: 7px 15px;
				display: block;

				&.medium {
					padding: 2px 10px;

					img {
						width: 30px;
						height: 30px;
					}
				}

				img {
					width: 20px;
					height: 20px;					
					display: block;
				}
			}
		}
	}
}

div.about {
	text-align: center;
	margin: 100px auto;
	width: 100%;
	max-width: $maxwidth;

	p {
		font-size: 15px;
		line-height: 26px;
	}
}