extends layout

block content
	div.intro
		div.inner
			h2 
				| Software Developer,
				br
				| Open Source Contributor,
				br
				| Tech Enthusiast.
	div.social
		ul
			li
				a(href="http://twitter.com/danbondd", target="_blank", class="external", data-source="Twitter")
					img(src="#{url}assets/images/twitter.png")
			li
				a(href="http://github.com/danbondd", target="_blank", class="external", data-source="GitHub")
					img(src="#{url}assets/images/github.png")
			li
				a(href="https://www.linkedin.com/in/danbondd", target="_blank", class="external", data-source="LinkedIn")
					img(src="#{url}assets/images/linkedin.png")
			li
				a(href="http://medium.com/@danbondd", target="_blank", class="external medium", data-source="Medium")
					img(src="#{url}assets/images/medium.png")
	div.about
		p I am a highly motivated and passionate Software Developer with a penchant for creating robust and scalable applications. I enjoy working on a variety of different projects, ranging from bespoke APIs to large data driven systems. Throughout the duration of my career I have completed projects in a variety of different languages, but my primary focus is writing Go, Python and PHP. I am also very keen on experimenting with Node.js.
