extends layout

block content
	div.intro
		div.inner
			h2 
				| Software Developer,
				br
				| Open Source Contributor,
				br
				| Tech Enthusiast.
	div.social
		ul
			li
				a(href="http://twitter.com/danbondd", target="_blank", class="external", data-source="Twitter")
					img(src="#{url}assets/images/twitter.png")
			li
				a(href="http://github.com/danbondd", target="_blank", class="external", data-source="Instagram")
					img(src="#{url}assets/images/github.png")
			li
				a(href="https://www.linkedin.com/in/danbondd", target="_blank", class="external", data-source="LinkedIn")
					img(src="#{url}assets/images/linkedin.png")
			li
				a(href="http://medium.com/@danbondd", target="_blank", class="external", data-source="Medium")
					img(src="#{url}assets/images/medium.png")
