body.about {

  div.inner.content {
    text-align:center;
    padding:($header*2) 15px;

    img {
      border-radius: 50%;
      width: 175px;
      display: inline-block;
      margin-bottom: 15px;
    }

    h4 {
      font-size:12px;
      font-style:italic;
      color:$mediumgrey;
      line-height:28px;
      font-family:$merriweather;
    }

    ul.social {
      margin:5px 0;

      li {
        width:25px;
        height:25px;

        &.github {
          background-size:25px;
        }

        &.twitter {
          background-size:15px;
          margin: 0 7px;
        }

        &.linkedin {
          background-size:12px;
        }
      }
    }

    p {
      margin-bottom:15px;
    }

  }

}