body.projects {

  div.inner.content {

    div.statement {
      padding:$header 0;
    }

    ul.brands {
      @extend .cf;

      li {
        float: left;
        width:18%;
        margin:0 1%;
        background: $lightgrey;
        text-align: center;
        padding:10px;

        img {
          display: block;
        }
      }
    }

  }
}
