div.twitter-feed {
  width:100%;
  background:$lightgrey;
  float:left;
  text-align:center;
  padding:100px 0;

  h3 {
    font-size:22px;
  }

  img {
    width:40px;
  }

  h4 {
    font-size:16px;
    margin:20px 0;
    font-style:italic;
    color:$mediumgrey;
    font-weight:400;
    line-height:28px;
    font-family:$merriweather;
  }

  p {
    font-size:13px;
    font-weight:bold;
  }

  a {
    color:$mediumgrey;
    text-decoration:underline;

    &:hover {
      color:$darkgrey;
    }
  }
}