$tablet: 920px;
$mobile: 600px;
$lightgrey: #F6F6F6;
$mediumgrey: #97999F;
$darkgrey: #292929;
$yellow: #ffee00;
$green: #00DD96;
$red: #FF4056;
$silver:#E9F0F4;
$purple:#3A2772;
$blue:#5A80FF;
$highlight:$blue;
$fontfamily: 'Open Sans', Arial, sans-serif;
$merriweather: 'Merriweather', Arial, sans-serif;
$letterspacing: 1px;
$maxwidth: 1000px;
$header: 80px;
$borderradius: 2px;
$transition:0.2s ease-in-out;
$topcontent: 650px;

@mixin bp($point) {
  @if $point == mobile {
    @media (min-width: $mobile) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $tablet) { @content; }
  }
}

.cf:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.text-link {
	color:$darkgrey;
	text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}

.cta {
  background:$green;
  height:48px;
  margin:0 auto;
  color:#FFF;
  cursor:pointer;
  font-weight:bold;
  transition:background $transition;
  text-transform:uppercase;
  border:none;
  border-radius:25px;
  display:inline-block;
  text-decoration:none;
  line-height: 24px;
  font-size:14px;
  padding:10px 35px;

  &:hover {
    background:#00BE80;
  }
}

hr {
	width:50px;
	height:3px;
	background:$darkgrey;
	margin:15px 0;
	display:inline-block;
}

ul.social {
  display:inline-block;

  li {
    border-radius: 50%;
    float:left;

    &.github {
      background: url('../imgs/icons/github-black.png') no-repeat center;
    }

    &.twitter {
      background: url('../imgs/icons/twitter.png') no-repeat center #55ACEE;
    }

    &.linkedin {
      background: url('../imgs/icons/linkedin-white.png') no-repeat center #0077B5;
    }

    a {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      color: transparent;
      width: 100%;
      height: 100%;
    }
  }
}

div.lists {
  @extend .cf;
  text-align: center;

  p {
    font-size:16px;
    line-height:24px;
  }

  ul {
    float: left;

    li {
      font-size:14px;
      line-height:24px;

      h4 {
        margin-bottom:10px;
      }
    }
  }
}