form.contact-form {
  padding:($header/2) 0;
  width:100%;
  max-width:470px;
  margin:0 auto;
  @extend .cf;

  div.row {
    float:left;
    margin-bottom:25px;
    width:100%;

    &.submit {
      width:100%;

      input {
        @extend .cta;
      }
    }

    label {
      float:left;
      margin-bottom:5px;
      font-size:14px;

      &.optional {

        &:after {
          content: "(Optional)";
          color:$mediumgrey;
          font-size:10px;
          margin-left:5px;
        }

      }
    }

    input.field, textarea {
      width:100%;
      float:left;
      padding:10px;
      font-size:14px;
      line-height:24px;
      letter-spacing:$letterspacing;
      border:1px solid #CFD9DB;
      transition:all $transition;
      border-radius:$borderradius;
      font-family:$fontfamily;
      clear:both;
      outline:none;

      &:focus {
        border:1px solid $mediumgrey;
      }
    }

    textarea {
      resize:none;
      height:200px;
    }

    div.error {
      color:$red;
      font-size:12px;
      font-style:italic;
      float:right;
      margin:4px 0 0 5px;
    }

  }

}