header {
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:$header;
  transition:all $transition;
  z-index:999;
  color:$darkgrey;
  background:#FFF;
  border-bottom:1px solid $lightgrey;

  @include bp(mobile) {
    position: fixed;
  }

  &.top {
    background:$highlight;
    color:#FFF;
    border-bottom:none;

    h1 {
      a {
        color: #FFF;
      }
    }

    div#menu-action {
      background: url('../images/icons/menu-white.png') no-repeat center;
      background-size:25px;
    }
  }

  &.scroll {
    top:-$header;
  }

  &.active {
    background:$highlight;
    border-bottom:none;
    color:#FFF;

    h1 {
      a {
        color: #FFF;
      }
    }

    div#menu-action {
      background:url('../images/icons/close-white.png') no-repeat center;
      background-size:25px;

      &:before {
        content: "Close";
      }
    }
  }

  div.inner {
    padding:12px 25px;
    height:100%;
  }

  h1 {
    font-size: 26px;
    float: left;
    line-height: 24px;
    font-style: italic;
    transform: rotate(-7deg);

    a {
      text-decoration: none;
      color: $darkgrey;
    }

    span {
      margin-left: -5px;
    }
  }

  div#menu-action {
    cursor:pointer;
    position:relative;
    display:block;
    margin-top:10px;
    background:url('../images/icons/menu.png') no-repeat center;
    width:35px;
    height:35px;
    float:right;
    background-size:25px;

    &:before {
      content: "Menu";
      position:absolute;
      top:6px;
      left:-52px;
      padding-right:5px;
    }
  }
}
