body.projects {

  div.inner.content {
    @extend .cf;

    div.statement {
      padding:$header 0;
    }

    div.lists {
      padding-bottom: $header;

      ul {
        width: 50%;

        a {
          @extend .text-link;
        }
      }
    }
  }
}
