{{define "content"}}
<h1>{{.Title}}</h1>
<h3>Books</h3>
<p>Some great books I've read over the years and would higly recommend:</p>
<ul>
	<li><a href="https://www.rustinaction.com">Rust in Action</a> <i>[Tim McNamara]</i></li>
	<li><a href="https://doc.rust-lang.org/book/">The Rust Programming Language</a> <i>[Steve Klabnik and Carol Nichols, with contributions from the Rust Community]</i></li>
	<li><a href="https://www.gopl.io/">The Go Programming Language</a> <i>[Alan A. A. Donovan, Brian W. Kernighan]</i></li>
	<li><a href="https://www.oreilly.com/library/view/container-security/9781492056690/">Container Security</a> <i>[Liz Rice]</i></li>
	<li><a href="https://www.oreilly.com/library/view/systems-performance-2nd/9780136821694/">Systems Performance</a> <i>[Brendan Gregg]</i></li>
	<li><a href="https://www.oreilly.com/library/view/the-staff-engineers/9781098118723/">The Staff Engineer's Path</a> <i>[Tanya Reilly]</i></li>
</ul>
<h3>Contact</h3>
<p>Unfortunately, I try to keep my contact details private. If you do need to verify my identity, use <a href="/public_key.asc">this</a> public key.</p>
{{end}}
