{{define "content"}}
<p>Chief Firefighting Officer. Interested in systems programming, networking and everything distributed.</p>
<ul>
	<li>
		<span class="date">2021-12-14</span>
		<a href="/segfaults-in-safe-code/">Segfaults in safe code</a>
	</li>
	<li>
		<span class="date">2021-01-07</span>
		<a href="/message-privacy-security/">Message Privacy &amp; Security</a>
	</li>
	<li>
		<span class="date">2020-08-25</span>
		<a href="/aws-elb-vs-haproxy/">AWS ELB vs HAProxy</a>
	</li>
	<li>
		<span class="date">2019-10-22</span>
		<a href="/understanding-mutexes/">Understanding Mutexes</a>
	</li>
	<li>
		<span class="date">2019-10-08</span>
		<a href="/parallel-tests-go/">Parallel tests in Go</a>
	</li>
	<li>
		<span class="date">2018-12-30</span>
		<a href="/kubecon-18/">KubeCon & CloudNativeCon - North America '18</a>
	</li>
	<li>
		<span class="date">2018-11-30</span>
		<a href="/remote-cohesion/">Remote Cohesion</a>
	</li>
	<li>
		<span class="date">2018-10-31</span>
		<a href="/k8s-migration/">Kubernetes: Migrating legacy services</a>
	</li>
	<li>
		<span class="date">2018-05-11</span>
		<a href="/k8s-canary-release/">Kubernetes: Canary release</a>
	</li>
	<li>
		<span class="date">2018-04-05</span>
		<a href="/k8s-service-ports/">Kubernetes: Service ports</a>
	</li>
	<li>
		<span class="date">2017-05-05</span>
		<a href="/manage-channel-ops/">Manage channel operations using context</a>
	</li>
</ul>
{{end}}
