{{define "content"}}
<p>A collection of articles focused on distributed systems, networking, observability and related topics.</p>
<ul>
	<li>
		<span class="date">Jan 07, 2021</span>
		<a href="/message-privacy-security/">Message Privacy &amp; Security</a>
	</li>
	<li>
		<span class="date">Aug 25, 2020</span>
		<a href="/aws-elb-vs-haproxy/">AWS ELB vs HAProxy</a>
	</li>
	<li>
		<span class="date">Oct 22, 2019</span>
		<a href="/understanding-mutexes/">Understanding Mutexes</a>
	</li>
	<li>
		<span class="date">Oct 08, 2019</span>
		<a href="/parallel-tests-go/">Parallel tests in Go</a>
	</li>
	<li>
		<span class="date">Dec 30, 2018</span>
		<a href="/kubecon-18/">KubeCon & CloudNativeCon - North America '18</a>
	</li>
	<li>
		<span class="date">Nov 30, 2018</span>
		<a href="/remote-cohesion/">Remote Cohesion</a>
	</li>
	<li>
		<span class="date">Oct 31, 2018</span>
		<a href="/k8s-migration/">Kubernetes: Migrating legacy services</a>
	</li>
	<li>
		<span class="date">May 11, 2018</span>
		<a href="/k8s-canary-release/">Kubernetes: Canary release</a>
	</li>
	<li>
		<span class="date">Apr 05, 2018</span>
		<a href="/k8s-service-ports/">Kubernetes: Service ports</a>
	</li>
	<li>
		<span class="date">May 05, 2017</span>
		<a href="/manage-channel-ops/">Manage channel operations using context</a>
	</li>
</ul>
{{end}}
