{{define "content"}}
<p>Systems programmer, working on Linux networking and security; Go, Rust, &amp; BPF enthusiast. Code hosted on <a href="https://git.sr.ht/~loshz/">sourcehut</a>. OSS contributions on <a href="https://github.com/loshz">GitHub</a>. Identity can be verified via <a href="/loshz.pgp.asc"><abbr title="3DD7 FCA2 1BE9 6E40 7233  801F E921 4E8C 196F 13B2">PGP</abbr></a> or <a href="/loshz.ssh.pub"><abbr title="SHA256:sckFRa2Gk8LB65uCoITRR72tNUvcYoGsxDD3naNY28c">SSH</abbr></a>.</p>
<h3>Posts</h3>
<h4>2023</h4>
<ul>
	<li><a href="/interview-facepalms/">Interview Facepalms</a></li>
	<li><a href="/bpf-helpers/">Useful BPF Helpers</a></li>
</ul>
<h4>2022</h4>
<ul>
	<li><a href="/yubikey-ssh-fido2/">YubiKey: Secure SSH with FIDO2</a></li>
	<li><a href="/arch-linux/">Arch Linux: LVM on LUKS</a></li>
	<li><a href="/linux-pam/">A Linux PAM development story</a></li>
</ul>
<h4>2021</h4>
<ul>
	<li><a href="/segfaults-in-safe-code/">Segfaults in safe code</a></li>
</ul>
<h4>2019</h4>
<ul>
	<li><a href="/understanding-mutexes/">Understanding Mutexes</a></li>
</ul>
<h4>2018</h4>
<ul>
	<li><a href="/remote-cohesion/">Remote Cohesion</a></li>
</ul>
<h4>2017</h4>
<ul>
	<li><a href="/manage-channel-ops/">Manage channel operations using context</a></li>
</ul>
{{end}}
