{{define "content"}}
<h1>{{.Title}}</h1>
<p class="date">[{{.DateTime.Format "2006-01-02"}}]</p>
			<p>I was recently working on a small personal project when I came across a problem during some testing. I had written an application that starts a HTTP server, accepts requests, and serves content from an in-memory data store.</p>
			<p>The basic application logic is as follows:</p>
			<ol>
				<li>Start servers and listen for requests.</li>
				<li>Create a channel to handle data store read requests.</li>
				<li>Upon accepting a request, push a data store read request onto the channel.</li>
				<li>Send data from data store down returning data read request channel.</li>
				<li>Serve data to client.</li>
			</ol>
			<p>So, the problem I noticed was the ability for the request to be cancelled at any point for one of several reasons: request timeout; client cancellation; server error; etc. Any one of these <em>errors</em> can happen at any point throughout the request, more importantly, once the individual request has been pushed onto the data read request channel. This is a huge problem as there could be potential items in this channel that are no longer needed, and because unbuffered channels in Go are blocking, the sender blocks until the receiver has received a value.</p>
			<p>After a bit of trial and error, research, and <a href="http://stackoverflow.com/questions/43683180/managing-channels-using-a-http-request-context">unanswered questions</a>, I decided to use the request context to try and solve this problem. The context package was introduced into the standard library in Go 1.7, but prior to this it was part of the <a href="http://golang.org/x/net/context">golang.org/x/net/context</a> library. To give you a bit of <code>Background()</code>:</p>
			<p class="quote">At Google, we developed a context package that makes it easy to pass request-scoped values, cancelation signals, and deadlines across API boundaries to all the goroutines involved in handling a request.</p>
			<p class="caption"><a href="https://blog.golang.org/context">https://blog.golang.org/context</a></p>
			<p>As mentioned earlier, the request can be cancelled at any time, therefore we have to check for this in several different places. Initially, I did this in the request handler, but after some more testing I realised the request could have made its way to the read channel. In that case, we also have to check for any cancellation while getting data from the data store.</p>
			<p>I am still unsure if this is the <em>best</em> approach, but I have manually and unit tested several scenarios and I am pretty confident with this solution. Some basic pseudo code is as follows:</p>
<pre class="go lines">
<code>package main</code>
<code></code>
<code>import (</code>
<code>    "context"</code>
<code>    "net/http"</code>
<code>    "time"</code>
<code>)</code>
<code></code>
<code>type</span> dataRequest struct</span> {</code>
<code>    data chan string</code>
<code>    ctx  context.Context</code>
<code>}</code>
<code></code>
<code>func handler(reqStream chan dataRequest) http.HandlerFunc {</code>
<code>    return func(w http.ResponseWriter, r *http.Request) {</code>
<code>        ctx, cancel := context.WithTimeout(r.Context(), 5*time.Second)</code>
<code>        defer cancel()</code>
<code></code>
<code>        req := dataRequest{</code>
<code>            data: make(chan string, 1),</code>
<code>            ctx:  ctx,</code>
<code>        }</code>
<code></code>
<code>        select {</code>
<code>        case reqStream <- req:</code>
<code>            <span class="c">// request pushed to que</span></code>
<code>        case <-ctx.Done():</code>
<code>            <span class="c">// don't push onto reqStream if ctx done</span></code>
<code>        }</code>
<code></code>
<code>        select {</code>
<code>        case <-ctx.Done():</code>
<code>            <span class="c">// don't try and serve content if ctx done</span></code>
<code>        case data := <-req.data:</code>
<code>            <span class="c">// return data to client</span></code>
<code>        }</code>
<code>    }</code>
<code>}</code>
<code></code>
<code>func main() {</code>
<code>    dataReqs := make(chan dataRequest)</code>
<code>    go func() {</code>
<code>        for {</code>
<code>            select {</code>
<code>            case req := <-dataReqs:</code>
<code>                select {</code>
<code>                case <-req.ctx.Done():</code>
<code>                    <span class="c">// don't push onto data channel if ctx done</span></code>
<code>                case req.data <- "some data":</code>
<code>                    <span class="c">// get data from store</span></code>
<code>                }</code>
<code>            }</code>
<code>        }</code>
<code>    }()</code>
<code>    http.HandleFunc("/", handler(dataReqs))</code>
<code>    http.ListenAndServe(":8080", nil)</code>
<code>}</code>
</pre>
<h3>Resources</h3>
<ul>
    <li><a href="https://blog.golang.org/context">Go Concurrency Patterns: Context</a></li>
</ul>
{{end}}
