{{define "rss"}}<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Programming: thoughts and paradigms</title>
    <link>https://syscll.org/</link>
    <description>A collection of articles focused around distributed systems, networking, observability and related topics.</description>
    <language>en-gb</language>
	<lastBuildDate>{{.Date}}</lastBuildDate>
    
	<atom:link href="https://syscll.org/index.xml" rel="self" type="application/rss+xml" />
	{{range .Pages}}
    {{if .RSS}}<item>
        <title>{{.Title}}</title>
        <link>https://syscll.org/{{.Tmpl}}/</link>
        <guid>https://syscll.org/{{.Tmpl}}/</guid>
        <pubDate>{{.Date}}</pubDate>
        <description>{{.Description}}</description>
    </item>{{end}}
	{{end}}
  </channel>
</rss>{{end}}
