{{define "site"}}<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Programming thoughts and paradigms: A collection of articles focused on systems programming, Linux networking and security.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="/site.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="alternate" type="application/rss+xml" href="https://loshz.com/index.xml" title="Programming thoughts and paradigms" />
</head>
<body>
	<header>
		<ul>
			<li><h1><a href="/">Loshz</a></h1></li>
			<li><a href="https://github.com/loshz">GitHub</a></li>
			<li>/</li>
			<li><a href="https://twitter.com/loshz">Twitter</a></li>
		</ul>
		<p>Programming thoughts and paradigms.</p>
	</header>
	
	<div class="content">{{template "content" .}}</div>
	
	<footer>
		<p><a href="/etc">Looking for other configurations?</a></p>
		<p><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
	</footer>
</body>
</html>{{end}}
