{{define "site"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="A collection of articles focused around distributed systems, networking, observability and related topics.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="/site.css" />
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<link rel="alternate" type="application/rss+xml" href="https://syscll.org/index.xml" title="Programming: thoughts and paradigms" />
</head>
<body>
	<div class="sidebar">
		<div class="top">
			<h1><a href="/">Programming: thoughts and paradigms</a></h1>
			<h2>A collection of articles focused around distributed systems, networking, observability and related topics.</h2>
			<ul>
				<li>GitHub <a href="https://github.com/syscll">syscll</a></li>
				<li>Twitter <a href="https://twitter.com/syscll">@syscll</a></li>
				<li>PGP <a href="public_key.asc">82E7 BCF2 EAB7 4CF0</a></li>
			</ul>
		</div>
		<div class="bottom">
			<p>The <a href="/etc">/etc</a> directory</p>
			<p>All content is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
		</div>
	</div>
	<div class="content">
		{{template "content" .}}
	</div>
</body>
</html>
{{end}}
