* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Sans-serif;
	background: #FFF;
	color: #121212;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 10px;
}

header {
	text-align: center;
}

header p {
	font-style: italic;
}

header ul {
	list-style: none;
	margin: 5px auto 0;
	display: inline-block;
}

header ul a {
	text-decoration: none;
}

header li {
	float: left;
	margin: 0 0 0 10px;
}

footer {
	margin: 35px 0 0;
	font-size: 0.7rem;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.2rem;
	margin: 15px 0 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 a, h2 a {
	text-decoration: none;
	font-weight: bold;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

.date {
	font-size: 0.9rem;
	color: #828282;
	font-style: italic;
	margin: 0 5px 0 0;
	display: inline-block;
}

img {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}

p {
	margin: 0 0 10px;
}

p:last-child {
	margin: 0;
}

.caption {
	text-align: center;
	font-size: 0.9rem;
	color: #828282;
}

.quote {
	border-left: 3px solid #121212;
	font-style: italic;
	padding-left: 10px;
}

.content {
	margin: 20px 0;
}

.content ol, .content ul {
	width: 100%;
	margin-bottom: 10px;
}

.content ol {
	padding-left: 2rem;
}
.content ul {
	padding-left: 1rem;
	list-style: square;
}

.content li {
	margin-bottom: 5px;
	width: 100%;
}

.content li:last-child {
	margin-bottom: 0;
}

pre {
	background: #EEF;
	white-space: pre-wrap;
	padding: 10px;
	margin: 0 0 10px;
	overflow-x: scroll;
	line-height: 1.3;
}

pre code .red {
	color: #D14;
}

pre code .blue {
	color: #0000EE;
}

pre code .orange {
	color: #FF5F00;
}

pre code .purple {
	color: #AF0087;
}

pre code .grey {
	color: #767676;
}

pre code .green {
	color: #44BD32;
}

code {
	background: #EEF;
	padding: 0 5px;
	font-family: Monospace;
	font-size: 0.9rem;
}

pre code {
	padding: 0;
	border: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		padding: 20px;
	}

	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #121212;
		color: #C9D1D9;
	}

	pre, code {
		background: #2E2E2E;
	}

	a, pre code .blue {
		color: #6479FF;
	}

	pre code .grey {
		color: #7F8C8D;
	}

	pre code .green {
		color: #00FF00;
	}

	a:visited {
		color: #AF0087;
	}

	.quote {
		border-left: 3px solid #C9D1D9;
	}
}
