:root {
    --max-width: 700px;
	--min-padding: 10px;
	--font-small: 0.8rem;
	--colour-purple: #EEF;
	--colour-grey: #EEE;
	--colour-grey-alt: #282828;
	--colour-black: #121212;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	color: var(--colour-black);
	width: 100%;
}

header {
	background: var(--colour-purple);
	font-size: var(--font-small);
}

header ul {
	list-style: none;
	display: flex;
	margin: 0 auto;
	max-width: var(--max-width);
	padding: var(--min-padding);
}

header li {
	float: left;
	display: grid;
	place-items: center;
	padding-left: 5px;
}

header li:first-child {
	padding: 0;
}

header li:nth-child(2) {
	margin: 0 auto 0 5px;
	max-width: 60%;
}

footer {
	border-top: 1px solid var(--colour-grey);
	margin: 15px auto 0;
	max-width: var(--max-width);
	padding: 15px;
	font-size: var(--font-small);
}

footer ul {
	list-style: none;
	width: 100%;
}

footer ul li:first-child {
	width: 50%;
	float: left;
	text-align: right;
	padding-right: var(--min-padding);
}

footer ul li:nth-child(2) {
	width: 50%;
	float: left;
}

footer ul li:last-child {
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 1.6rem;
	clear: both;
}

h2 {
	font-size: 1rem;
	font-style: italic;
}

h2 a {
	color: var(--colour-black)!important;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-size: 1.2rem;
	margin: 10px 0 5px;
}

h4 {
	font-size: 1.1rem;
	margin: 10px 0 5px;
}

a, a:visited {
	color: #00F;
}

a:hover {
	text-decoration: underline;
}

.date {
	margin: 0 0 20px;
	font-size: var(--font-small);
}

img {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}

p {
	margin: 0 0 10px;
}

p:last-child {
	margin: 0;
}

.caption {
	text-align: center;
	font-size: var(--font-small);
}

.quote {
	border-left: 3px solid var(--colour-black);
	font-style: italic;
	padding-left: 10px;
	margin: 0;
}

.content {
	margin: 10px auto 0;
	max-width: var(--max-width);
	padding: 0 var(--min-padding);
}

.content ol, .content ul {
	width: 100%;
	margin-bottom: 10px;
}

.content ol {
	padding-left: 2rem;
}

.content ul {
	padding-left: 1rem;
}

.content li {
	margin-bottom: 5px;
	width: 100%;
}

.content li:last-child {
	margin-bottom: 0;
}

.content ul#posts {
	list-style: none;
	padding-left: 0;
}

.content ul#posts a {
	margin-right: 5px;
}

.content ul#posts .date {
	margin: 0 5px 0 0;
}

pre {
	background: var(--colour-grey);
	padding: 7px;
	margin: 0 0 10px;
	overflow-x: scroll;
	line-height: 1;
    position: relative;
	counter-reset: line;
}

pre.lines code::before {
	width: 20px;
	content: counter(line);
	counter-increment: line;
	color: #555;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	user-select: none;
}

pre code .b {
	color: #3FC1E0;
}

pre code .c {
	color: #555;
}

pre code .g {
	color: #3AE374;
}

pre code .o {
	color: #F38600;
}

pre code .p {
	color: #9E5EFA;
}

pre code .r {
	color: #E74C3C;
}

pre code .y {
	color: #EDC579;
}

code {
	font-family: monospace;
	line-height: 1;
	background: var(--colour-grey);
	padding: .10em .20em;
	font-size: var(--font-small);
}

pre code {
	padding: 0;
	border: 0;
	background: var(--colour-grey);
	color: var(--colour-black);
	font-weight: normal;
}

@media only screen and (min-width: 600px) {
	:root {
		--min-padding: 5px;
	}

	h1 {
		font-size: 1.9rem;
	}

	h3 {
		font-size: 1.4rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: var(--colour-black);
	}

	body, h2 a {
		color: #C9D1D9!important;
	}

	header li svg {
		fill: #C9D1D9;
	}

	a, a:visited {
		color: #6479FF;
	}

	header {
		background: none;
		border-bottom: 2px solid var(--colour-grey-alt);
	}

	footer {
		border-top: 1px solid var(--colour-grey-alt);
	}

	.quote {
		border-left: 3px solid #C9D1D9;
	}

	pre, pre code, code {
		background: var(--colour-grey-alt);
		color: var(--colour-grey);
	}

	pre code .c {
		color: #888;
	}
}
