* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	color: #121212;
	margin: 0 auto;
	width: 100%;
	max-width: 750px;
	padding: 15px;
}

header ul {
	list-style: none;
	display: flex;
}

header ul a {
	text-decoration: none;
}

header li {
	float: left;
}

header li:first-child {
	margin: 0 auto 0 0;
	max-width: 50%;
}

header li svg {
	fill: #121212;
	width: 19px;
}

header li:nth-child(3) {
	margin-left: 10px;
}

header li:nth-child(3) svg {
	width: 20px;
}

footer {
	padding: 15px 0 0;
	font-size: 0.7rem;
	text-align: center;
	border-top: 1px solid #EEE;
	display: flex;
}

footer p {
	display: flex;
	float: left;
	margin: 0;
}

footer p:first-child {
	max-width: 50%;
	margin-right: auto;
}

footer p:last-child {
	text-align: right;
}

h1 {
	font-size: 1.6rem;
	clear: both;
}

h2 {
	font-size: 1.4rem;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

h2 a {
	color: #121212!important;
}

h3 {
	font-size: 1.2rem;
	margin: 15px 0 5px;
}

h4 {
	font-size: 1.1rem;
	margin: 15px 0 5px;
}

a, a:visited {
	text-decoration: none;
	color: #0000EE;
}

a:hover {
	text-decoration: underline;
}

.date {
	font-size: 0.9rem;
	color: #828282;
	font-style: italic;
	margin: 0 0 20px;
}

img {
	width: 100%;
	display: inline-block;
	margin: 0 0 10px;
}

p {
	margin: 0 0 15px;
}

p:last-child {
	margin: 0;
}

.caption {
	text-align: center;
	font-size: 0.9rem;
	color: #828282;
}

.quote {
	border-left: 3px solid #121212;
	font-style: italic;
	padding-left: 10px;
}

.content {
	margin: 20px 0;
}

.content ol, .content ul {
	width: 100%;
	margin-bottom: 10px;
}

.content ol {
	padding-left: 2rem;
}
.content ul {
	padding-left: 1rem;
	list-style: square;
}

.content li {
	margin-bottom: 5px;
	width: 100%;
}

.content li:last-child {
	margin-bottom: 0;
}

.content ul#posts a {
	margin-right: 5px;
}

.content ul#posts .date {
	float: right;
	margin: 0;
}

p.previous, p.next {
	display: inline-block;
	margin: 0 0 5px;
	font-style: italic;
	width: 50%;
}

p.next {
	text-align: right;
	float: right;
}

pre {
	background: #282828;
	padding: 10px 10px 30px 10px;
	margin: 0 0 10px;
	overflow-x: auto;
	line-height: 1.2;
    position: relative;
	counter-reset: line;
}

pre.lines code::before {
	width: 20px;
	content: counter(line);
	counter-increment: line;
	color: #AAA;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	-webkit-user-select: none;
}

pre::after {
	content: "utf-8[unix]";
	display: block;
	background: #222;
	font-size: 0.9rem;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	padding: 5px 10px;
	text-align: right;
	color: #AAA;
}

pre.rust::after {
	content: "rust:utf-8[unix]";
}

pre.go::after {
	content: "go:utf-8[unix]";
}

pre.c::after {
	content: "c:utf-8[unix]";
}

pre.yaml::after {
	content: "yaml:utf-8[unix]";
}

pre code .c {
	color: #AAA;
	font-weight: normal;
}

pre code .g {
	color: #00FF00;
}

pre code .r {
	color: #D70000;
}

pre code .y {
	color: #ffd75f;
}

code {
	font-family: Monospace;
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1;
}

pre code {
	padding: 0;
	border: 0;
	background: #282828;
	color: #EEE;
	font-weight: normal;
}

@media only screen and (min-width: 600px) {
	body {
		padding: 20px;
	}

	h1 {
		font-size: 1.9rem;
	}

	h3 {
		font-size: 1.4rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #121212;
	}

	body, h2 a {
		color: #C9D1D9!important;
	}

	header li svg {
		fill: #C9D1D9;
	}

	a, a:visited {
		color: #6479FF;
	}

	footer {
		border-top: 1px solid #282828;
	}

	.quote {
		border-left: 3px solid #C9D1D9;
	}
}
